/* link of remaining code 
    web:https://codepen.io/ColleenEMc/pen/QjOaVg?editors=1100
    
*/
header{
  height:150px;
 background-image: linear-gradient( yellow,green);
text-align: center;
font-size: 25px;
}
nav a{
 background-color: white;
 margin:5px;
/*   when length or width is not able to change then you have to change display of element */
display: inline-block;
width:250px;
}
h2
{
background-color:#26c026;
border-radius: 8px;
}
.half
{
display:inline-block;
width:33%
}
footer
{
background-image:linear-gradient(green,yellow);
}
body
{
background-color:hsl(298, 56%, 72%);
}