header {
    background-color: #00FF00;
    background-image: url(../images/flywheel.jpg);
    background-repeat: no-repeat;
    background-size: auto 395%;
    padding-top: 20px;
  }
  
  h1 {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 250%;
  }
  
  h2 {
    color: #FF0000;
    text-transform: uppercase;
  }
  
  nav {
    list-style:none;
    text-align:center;
  }
  
  nav a{
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 20px;
    margin-right: 70px;
    margin-bottom: 30px;
    background-color: rgba(108, 122, 137, 0.75);
  }
  
  nav a:hover {
    background-color: #FFFFFF;
  }
  
  nav a:hover {
    color: red;
  }
  
  .active{
    color: #000000;
    background-color: #FFFFFF;
    opacity: 100%;
  }
  
  section {
  }
  
  a:link {
    color: #FF0000;
    text-align: center;
  }
  
  body {
    margin: 5px;
    padding: 25px;
    font-size: 110%;
  }
  
  main {
    display: flex;
  }
  
  img {
    width: 80%;
    margin: 12px;
    border: 3px solid #ff7000;
    border-radius: 5px;
  }
  
  .left {
    width: 300px;
    background: #ffcca4;
    text-align: center;
    padding-top: 5px;
  }
  
  .right {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  table {
    margin: auto;
    width: 80%;
  }
  
  td, th {
    padding: 5px 0;
    color: #000000;
  }
  
  td{
    background-color: #00FFFF;
    text-align: center;
  }
  
  tr {
    opacity: 0.6;
  }
  
  th {
    background-color: #006666;
    color: #FFFFFF;
    border-radius: 3px 3px 0 0;
  }
  
  td:first-child, th:first-child {
    text-align: left;
    padding: 2%;
  }
  
  tr:hover {
    opacity: 1;
  }