body
{
    margin: 2px;
    padding: 2px;
}
header
{
    background: url(flywheel.jpg) no-repeat;
    background-size: cover;
    border: 2px solid black;
    height: 24vh;
    text-align: center;
}
header h1
{
    color: beige;
}
nav a
{
    display:inline-block;
    background-color: beige;
    border: 2px solid black;
    /* border-radius: 5px; */
    text-decoration: none;
    margin:0 66px;
    opacity: 0.7;/*tranparency like*/
    padding: 10px;
    width: 150px;
    border-radius:5px;
}
nav a:hover
{
    color: red;
}
nav a:active
{
    background-color: white;
    color: black;
    opacity:1;
}
.left
{
    float: left;
    display: inline-block;
    background-color: blue;
    height: 200vh;
    width: 18vw;
}
img
{
    display: inline-block;
    padding:2px;
    border: 2px solid red;
    margin: 19px;
    height: 32vh;
    width: 14vw; 
}
.right
{
  width: 74%; 
}

/* table's class */
table {
    padding: 2%;
    margin: 0 auto;
    line-height: 50px; /*use to increase row height  */
    width: 65%;      /* table width */
}

/* Table Header Styling */
th {
    background-color: 	#9ACD32;
    padding: 2%;
    font-variant: small-caps;
    font-size: 100%;
    color: #ffffff;
     line-height: 40px;    /*height of th wala row  */
     border-radius: 10px 10px 0 0;        /*very important look it*/
     border-bottom: 2px solid #339933;
    
}

/*Make the table text in two columns to the right centered*/
th, tr td {
    text-align: center;
}

/*Make the table text in the column to the left left-aligned*/
/* th:first-child, tr td:first-child {
    text-align: left;
} */

/* first value of every row and column */
th,td:first-child {
    text-align: left;
}

/* Set opacity of table rows*/
tr td {
    opacity: 0.6;
}


/*Change opacity of table rows when hovered over*/
tr:hover td {
    opacity: 1;
    color: #339933;
    font-weight: bold;
    font-size:100%;
    line-height: 60px;
}

/*Styling the table cells*/
td {
    background-color: #90EE90;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 90%;
    border-bottom: 2px solid #ffffff;
}



