header
{
    background-color: rgb(83 9 101);
    color: rgb(109 239 153);
    text-transform: uppercase;

}
h1{
    text-align: center;
    background-color: rgb(83 9 101);
    color: rgb(109 239 153);
    text-transform: uppercase;
}
nav
{
    text-align: center;
}
a
{
   
    color: black;
    background-color: #b09ac4;
    display: inline-block;
}
h2{
 text-transform: uppercase;
 color: rgb(170, 209, 79);
}
section
{
    background-color: #47a1a1;
    text-align: left;
}
img
{
    display: none;
}